* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    color: #222;
}

.container {
    display: grid;
    grid-template-columns: 20% 1fr;
    /* nimetyt alueet */
    grid-template-areas:
    "header header"
    "nav nav"
    "sidebar main"
    "footer footer";
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; /* keskittää layoutin vaakasuunnassa */
    /* padding: 20px; */
}

.header {
    grid-area: header;
    background-color: rgb(20,229,174);
    padding: 30px;
    margin: 0;
}

.nav {
    grid-area: nav;
}

.main  {
    grid-area: main;
}

.main h2 {
    margin-bottom: 20px;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #222;
    border-radius: 6px;
    padding: 10px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 5px;
    line-height: 1.2
}

.card a {
    color: darkblue;
    font-weight: bold;
}

.sidebar {
    grid-area: sidebar;
    background-color: azure;
    padding: 20px;
}

.sidebar ul {
    list.style: none;
}

.sidebar a {
    color: darkblue;
    font-weight: bold;
}

.sidebar a:hover {
    color: orange;
}

.footer {

}